* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 10% 0% 0% 10%; 
}

body {
    background-color: rgb(10 10 11);
    color: #f4f4f5;
    font-family: 'Kanit', sans-serif;
}

/* Header , Navbar */
header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 1% 10%;
    background-color: #121212;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(219, 216, 216, 0.1);
}

.navbar {
    display: flex;
    justify-content: center;
}

nav a {
    position: relative; 
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin: 0 20px;
    align-items: center;
    justify-content: center;
}

nav a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
}

nav a:hover::before {
    width: 100%;
}

/* Footer */
.footer-line {
    border: none;
    border-top: 1px solid grey;
    margin: 20px 0 0;
  }

footer {
    background-color: #121212;    
    color: rgb(87, 82, 82);
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: rgb(150, 47, 47);
    text-align: center;
}

/* ส่วน body */

.main-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 4%;
    font-size: 1.62rem;
}

.profile-box {
    background-color: rgb(15 15 16);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 1250px;
}

.profile-header {
    background: url('https://i.ibb.co/NZtvsSf/proj.png') no-repeat center center/cover;
    height: 500px;
    text-align: center;
}

.profile-pic {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}

.username {
    -webkit-text-stroke: 3px black;
    font-size: 50px;
    font-weight: bold;
    animation: slideInLeft 1s ease-out;
}

.status {
    font-size: 16px;
    color: #ccc;
}

.content-section {
    margin-top: 20px;
}

.code-section {
    max-height: auto;
}

.img-code {
    max-height: 700px;
    overflow-y: auto;
    width: fit-content;
}

.img-code img {
    width: 100%;
    height: auto;
    display: block;
}

.info-section, .video-section, .member-section, .code-section {
    background-color: rgb(18 17 19);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.info-section h2, .video-section h2 , .member-section h2, .code-section h2{
    margin-bottom: 10px;
    font-size: 30px;
}

.info-box, .img-code {
    background-color: rgb(35 34 37);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 15px;
}

.info-box2 {
    background-color: rgb(35 34 37);
    padding: 10px 0;
    border-radius: 5px;
    font-size: 1.2rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.info-box2 img {
    height: 200px;
}

.info-box p {
    margin: 5px 0;
    font-size: 1.5rem;
}

.info-box p span{
    font-weight: bold;
}

.info-card {
    background-color: rgb(35, 34, 37);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.33% - 20px);
    max-width: 300px;
    text-align: center;
}
.info-card:hover {
    background-color: rgb(15, 15, 16);
    transform: scale(1.07);
    transition: 0.2s;
}
.info-card a {
    text-decoration: none;
    color: rgb(244 244 245);
}

.info-card img {
    width: 100%;
    height: auto;
    /* max-height: 220px; */
    object-fit: cover;
    margin-bottom: 10px;
}

.info-card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.info-card-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.info-card-text h3 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.info-card-text p {
    font-size: 14px;
    margin: 5px 0 0 0;
}

.video-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.video-card-gif {
    width: 100%;
    max-width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    overflow: hidden;
}

.video-card-gif iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #121113;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.video-card-text {
    width: 100%;
    text-align: left;
}

.video-card-text h3 {
    font-size: 25px;
    margin: 0;
    margin-top: 10px;
}

.video-card-text p {
    margin-top: 5px;
    font-size: 18px;
}

.member-card-text h3 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.member-card-text p {
    margin: 0;
    font-size: 18px;
}

@media (max-width: 768px) {
    .main-container {
        font-size: 1.4rem;
        margin-top: 12%;
    }
    .info-box {
        font-size: 0.9rem;
    }
    .info-box p {
        font-size: 1.25rem;
    }
    .info-card-content {
        flex-direction: row;
        align-items: center;
    }

    .info-card-image {
        margin-left: 15px;
        margin-bottom: 10px;
    }

    .info-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1 1 100%;
        width: 100%;
        margin-bottom: 1px;
        text-align: left;
        max-width: none;
        justify-content: flex-start;
    }
    .info-card:hover {
        background-color: rgb(15, 15, 16);
        transform: scale(1.01);
        transition: 0.2s;
    }

    .info-card img {
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }
    .info-box2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .info-card-text h3, .info-card-text p {
        font-size: 1.38rem;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .video-card-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .video-card-gif {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .video-card-text h3 {
        margin-top: 3px;
        font-size: 1.3rem;
        text-align: left;
    }
    .video-card-text p {
        font-size: 1.1rem;
        text-align: left;
    }
    .member-card-image {
        width: 80%;
        margin-bottom: 10px;
    }
    .member-card-text h3 {
        font-size: 1rem;
        font-size: x-large;
        margin: 0 4px;
        margin-bottom: 11px;
    }
}

@media (max-width: 554px) {
    .info-card-text h3, .info-card-text p {
        font-size: 1.06rem;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .member-card-text h3 {
        font-size: 1rem;
        font-size: large;
        margin: 0 1px;
        margin-bottom: 11px;
    }
    
    .info-card {
        margin-bottom: 1px;
    }

    .info-box p {
        font-size: 1.05rem;
    }
}